@import '../../globals.scss';

header {
  background-color: white;
  position: relative;
  height: 50vh;
  margin: 0 $spacing;
  margin-top: 30vh;
  border-radius: $border;

  img {
    border-radius: 50%;
    user-select: none;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border: $spacing solid $background;
    left: 50%;
    transform: translateY(-50%);
  }

  h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
  }

  p {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    color: $secondary-text;
    background-color: $secondary;
    padding: $spacing $spacing * 3;
    border-radius: $border;
    width: fit-content;
  }

  @media only screen and (max-width: 600px) {
    img {
      height: auto;
      max-width: 70%;
    }

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }
  }
}
