@import '../../globals.scss';

nav {
  background-color: $primary-text;
  margin: $spacing 0;
  padding: $spacing;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 0 10px darken($background, 40);

  a {
    display: block;
    border: 1px solid darken($primary, 20);
    width: fit-content;
    padding: $spacing $spacing * 5;
    border-radius: $border / 1.5;
    background-color: $primary;
    box-shadow: inset 0 -3px 0px darken($primary, 10);
    font-size: 30px;
    color: $primary-text;
    text-decoration: none;
    margin-bottom: $spacing;
    margin-right: $spacing / 2;
    margin-left: $spacing / 2;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    user-select: none;

    &:hover {
      border: 1px solid darken($primary, 10);
      background-color: lighten($primary, 10);
      box-shadow: inset 0 -3px 0px $primary;
      color: $primary-text;
    }
  }
}

@media only screen and (max-width: 600px) {
  nav a {
    width: 100%;
    margin: 0;
    margin-bottom: $spacing;
  }
}
