$main-text: #222222;
$main-background: #ffffff;

$background: #dddddd;

$spacing: 10px;
$border: $spacing * 2;

$primary: #343184;
$primary-text: #ffffff;

$secondary: #fd5b58;
$secondary-text: #ffffff;
