@import '../../globals.scss';

#about {
  font-family: 'Raleway', sans-serif;
  background-color: $primary;
  margin: 0 $spacing;
  margin-bottom: $spacing;
  padding: $spacing * 3 20%;
  border-radius: $border;
  text-align: center;
  font-size: 20px;
  color: $primary-text;
  box-shadow: 0 0 20px darken($background, 20);

  div {
    background-color: $primary-text;
    color: $primary;
    padding: $spacing * 3;
    border-radius: $border / 1.5;
  }

  h1 {
    font-size: 40px;
    margin: 0;
  }

  p {
    margin: 0;
    margin-bottom: $spacing * 2;

    &:last-child {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #about {
    padding: $spacing;

    div {
      padding: $spacing;
    }
  }
}
